/* stylelint-disable prettier/prettier */
* {
    margin: 0;
}

@font-face {
    font-family: StratosSkyeng;
    src: local("'StratosSkyeng'"),
        url('../../static/fonts/stratosskyengweb-regular.woff') format('woff'),
        url('../../static/fonts/stratosskyengweb-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #004980;
    font-family: StratosSkyeng, sans-serif;
}

.app {
    margin: auto;
    display: flex;
    box-sizing: border-box;
    gap: 40px;
    margin-top: 100px;
    width: 480px;
    background: #c2f5ff;
    border: none;
    color: #004980;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 70px 70px;
    border-radius: 8px;
}

.hide {
    display: none;
    width: 2px;
}

.title {
    font-size: 40px;
    text-align: center;
}

.level-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.input {
    display: flex;
    height: 100px;
    width: 100px;
}

.input[type='radio'] {
    display: none;
}

.button-label {
    font-size: 64px;
    cursor: pointer;
    padding: 1px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
    background-color: #fff;
    color: #0080c1;
    height: 100px;
    width: 100px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Checked */
.input[type='radio']:checked + label {
    border: 3px solid #004980;
}

/* Hover */
.button-label:hover {
    color: #666;
}

/* Disabled */
.input[type='radio']:disabled + label {
    background: #efefef;
    color: #666;
}

.button {
    border-radius: 8px;
    width: 246px;
    height: 50px;
    border: none;
    background-color: #7ac100;
    padding: 2px;
    color: #fff;
    font-size: 24px;
}

.container {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    perspective: 1000px;
    align-content: center;
}

.memory-card {
    width: 85px;
    height: 120px;
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px (0, 0, 0, 30%);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.game-menu {
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 45px 25px 25px;
}

.timer {
    color: #fff;
    font-size: 64px;
}

.result {
    margin: auto;
    display: flex;
    box-sizing: border-box;
    gap: 40px;
    margin-top: 100px;
    width: 480px;
    background: #c2f5ff;
    border: none;
    color: #004980;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 70px 70px;
    border-radius: 8px;
}
